# Created by .ignore support plugin (hsz.mobi)
.idea/
.bin
node_modules/
coverage/
/dist/
/src/**/*.js
/src/**/*.jsx
/test/**/*.js
codeship-services.yml
codeship-steps.yml
!/src/**/assets/**/*
!/package.json
/jest_*/
