# Created by .ignore support plugin (hsz.mobi)
.idea/
.bin
node_modules/
coverage/
/dist/
/src/**/*.js
/test/**/*.js
.dockerignore
Dockerfile
codeship-services.yml
codeship-steps.yml
docker-compose.yml
!/src/**/assets/**/*
!/package.json
